@page "/editruleset"

<PageTitle>Edit Rule Set</PageTitle>

<h1>Edit Rule Set</h1>

<div class="full-h, full-w">
    <div class="inline-40">
        left
    </div>
    <div class="inline-20">
        middle
    </div>
    <div class="inline-40">
        right
    </div>
</div>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
