
.drop-zone .overlay {
    visibility: hidden;
    display: flex;
    height: 0px;
}

.drop-zone .overlay .drop-text {
    margin: auto;
}

.drop-zone.hover .overlay {
    visibility: visible;
    height: 100%;
    width: 100%;
    background-color: rgb(128, 128, 128, 0,45);
    border: 2px dashed #808080;
    border-radius: 5px;
}

/* 
    ToDo: think about scss support:
    https://github.com/dotnet/aspnetcore/issues/16106#issuecomment-391712098
*/
